body{
    background-image: url(modulebg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
    overflow: hidden; 
}

h1{
    color:black;
    font-size: 25px;

    position: relative;
    
    top: 50px;
    bottom: 100px;
    left: 350px;
}

.contact-form{
    background: url(Pmchsbg.jpg);
    background-repeat: no-repeat;
    max-width: 900px;
    margin: auto;
    border-radius: 10px;
    padding: 50px;

    position: relative;
    top: 20px;
}

form{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    
    top: 50px;
    bottom: 200px;
    left: 50px;
}

input[type=text], select{
    width: 25%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 15%;
    padding: 10px 10px;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=reset]{
    width: 15%;
    padding: 10px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}